.App {
  text-align: center;
}

.logo {
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: "100%";
}

.selectBody {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.addContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inputCredits {
  margin-left: 30px;
}

.resultantGPA {
  margin-left: 20px;
  
}